[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/sim1996
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sim1996
	label-Verified = -1..+1 group user/sim1996
	push = group user/sim1996
	read = group user/sim1996
	rebase = group user/sim1996
	removeReviewer = group user/sim1996
	submit = group user/sim1996
[access "refs/heads/*"]
	create = group user/sim1996
	push = +force group user/sim1996
	pushMerge = group user/sim1996
	read = group user/sim1996
[access "refs/tags/*"]
	push = group user/sim1996
	push = +force group user/sim1996
